{% extends 'base.html.twig' %}

{% block body %}
    {% if commande == null %}
        Vous n'avez pas de commande
    {% else %}
    <div class="">
        {% for com in commande %}
        <div class="dateCommande text-center" style="margin: 30px 0;">
            <h2>Vos Commandes</h2>

        </div>
        <div class="produitCommande" style="display: flex;align-content: space-between">
            <table class="table" style="width: 800px;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Désignation</th>
                        <th scope="col">Quantite</th>
                        <th scope="col">Prix TTC</th>
                        <th scope="col">Total TTC</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>{{ com.designation}}</td>
                            <td>{{ com.quantite }}</td>
                            <td>{{ com.prix }} €</td>
                            <td>{{ com.prix*com.quantite }} €</td>
                        </tr>
                </tbody>
            </table>
            <div class="border border-dark" style="width: 150px;">
                <h3 class="alert alert-dark text-white">Net à payer</h3>
                <p></p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}