body{
    margin:0;
}
.page{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer{
   min-height: 10vh;
}

.content{
    flex:1;
 }

.alert-danger{
    display:none;
}
.sidebar{
   min-height: 100vh;
}
.commande{
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.header{
    margin-bottom: 30px;
}
.formulaireProduit{
    border:1px solid #CCCCCC;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
}
.formulaireProduit form{
    width:80%;
    margin: 0 auto;
}

.img-liste-produit{
    width: 50px;
    height: auto;
}

.img-acceuil-produit{
    width:auto;
    height: 250px;
}

.content-figure{
    display: flex;
    flex-wrap: wrap;
}